#UI BMS5, created by Revientor (2010)
[POPUPMENU]
[SETUP] MAP_POP C_TYPE_EXCLUSIVE POP_SUBMENU BID_DROPORB 
[NORMCOLOR] 230 230 230
[SELCOLOR] 230 230 230
[DISCOLOR] 100 100 100
[BARCOLOR] 0
[BGCOLOR] 49 49 49
[BORDERCOLOR] 0
[OPAQUE] 85
[FONT] OCR_EXT_12

[ADDITEM] MID_HEADER C_TYPE_ITEM TXT_MAP_MENU
[ITEMFLAGOFF] MID_HEADER C_BIT_ENABLED
[ADDITEM] MID_HEADER_SEP C_TYPE_NOTHING TXT_SPACE 0 
[ADDITEM] MID_RECON C_TYPE_ITEM TXT_RECON 0
[ADDITEM] MID_ADD_FLIGHT C_TYPE_ITEM TXT_ADD_FLIGHT
[ADDITEM] MID_ADD_PACKAGE C_TYPE_ITEM TXT_ADD_PACKAGE 0
[ADDITEM] MID_ADD_BATTALION C_TYPE_ITEM TXT_ADD_BATTALION 0
[ADDITEM] MID_ADD_NAVAL_UNIT C_TYPE_ITEM TXT_ADD_TASKFORCE 0
[ADDITEM] MID_SEP_1 C_TYPE_NOTHING TXT_SPACE 0 
[ADDITEM] MID_LEG_INSTALLATIONS C_TYPE_MENU TXT_INSTALLATIONS 0
[ADDITEM] MID_LEG_AIR C_TYPE_MENU TXT_AIRUNITS 0
[ADDITEM] MID_LEG_UNIT C_TYPE_MENU TXT_GROUNDUNITS 0
[ADDITEM] MID_LEG_NAVY C_TYPE_MENU TXT_NAVALUNITS 0
[ADDITEM] MID_UNITS_SQUAD_PACKAGE C_TYPE_TOGGLE TXT_SHOW_PACKAGES 0
[ADDITEM] MID_SHOW_VC C_TYPE_TOGGLE TXT_SHOW_VC 0
[ADDITEM] MID_LEG_CIRCLES C_TYPE_MENU TXT_THREATCIRCLES 0
[ADDITEM] MID_LEG_NAMES C_TYPE_TOGGLE TXT_NAMES 0
[ADDITEM] MID_LEG_BULLSEYE C_TYPE_TOGGLE TXT_BULLSEYE 0
[ADDITEM] MID_SEP_1 C_TYPE_NOTHING TXT_SPACE 0
[ADDITEM] MID_SET_PREPLANNED_THREAT C_TYPE_ITEM TXT_MID_SET_PREPLANNED_THREAT 0
[ADDITEM] MID_START_STEERPOINT_LINE_MENU C_TYPE_MENU TXT_MID_STEERPOINT_LINE_MENU 0
[ADDITEM] MID_START_STEERPOINT_LINE_1 C_TYPE_ITEM TXT_MID_ADD_STEERPOINT_LINE_1 MID_START_STEERPOINT_LINE_MENU
[ADDITEM] MID_START_STEERPOINT_LINE_2 C_TYPE_ITEM TXT_MID_ADD_STEERPOINT_LINE_2 MID_START_STEERPOINT_LINE_MENU
[ADDITEM] MID_START_STEERPOINT_LINE_3 C_TYPE_ITEM TXT_MID_ADD_STEERPOINT_LINE_3 MID_START_STEERPOINT_LINE_MENU
[ADDITEM] MID_START_STEERPOINT_LINE_4 C_TYPE_ITEM TXT_MID_ADD_STEERPOINT_LINE_4 MID_START_STEERPOINT_LINE_MENU
[ADDITEM] MID_SEP_1 C_TYPE_NOTHING TXT_SPACE 0
[ADDITEM] MID_START_SCALE_LINE C_TYPE_TOGGLE TXT_MID_START_SCALE_LINE 0


[ADDITEM] MID_INST_AF C_TYPE_TOGGLE TXT_AIRFIELDS MID_LEG_INSTALLATIONS
[ADDITEM] MID_INST_AD C_TYPE_TOGGLE TXT_AIRDEFENSES MID_LEG_INSTALLATIONS
[ADDITEM] MID_INST_ARMY C_TYPE_TOGGLE TXT_ARMY MID_LEG_INSTALLATIONS
[ADDITEM] MID_INST_CCC C_TYPE_TOGGLE TXT_CCC MID_LEG_INSTALLATIONS
[ADDITEM] MID_INST_POLITICAL C_TYPE_TOGGLE TXT_POLITICAL MID_LEG_INSTALLATIONS
[ADDITEM] MID_INST_INFRA C_TYPE_TOGGLE TXT_INFRASTRUCTURE MID_LEG_INSTALLATIONS
[ADDITEM] MID_INST_LOG C_TYPE_TOGGLE TXT_LOGISTICS MID_LEG_INSTALLATIONS
[ADDITEM] MID_INST_WARPROD C_TYPE_TOGGLE TXT_WARPRODUCTION MID_LEG_INSTALLATIONS
[ADDITEM] MID_INST_NAV C_TYPE_TOGGLE TXT_NAVBEACON MID_LEG_INSTALLATIONS
[ADDITEM] MID_INST_OTHER C_TYPE_TOGGLE TXT_OTHER MID_LEG_INSTALLATIONS
#[ADDITEM] MID_SEP_4 C_TYPE_NOTHING TXT_SPACE MID_LEG_INSTALLATIONS
#[ADDITEM] MID_LEG_FILTER C_TYPE_MENU TXT_FILTERING MID_LEG_INSTALLATIONS
#[ADDITEM] MID_FILT_LOW C_TYPE_RADIO TXT_LOW MID_LEG_FILTER
#[RADIOGROUP] MID_FILT_LOW 45
#[STATE] MID_FILT_LOW 1
#[ADDITEM] MID_FILT_MEDIUM C_TYPE_RADIO TXT_MEDIUM MID_LEG_FILTER
#[RADIOGROUP] MID_FILT_MEDIUM 45
#[ADDITEM] MID_FILT_HIGH C_TYPE_RADIO TXT_HIGH MID_LEG_FILTER
#[RADIOGROUP] MID_FILT_HIGH 45

[ADDITEM] MID_UNITS_DIV C_TYPE_RADIO TXT_DIVISIONS MID_LEG_UNIT
[RADIOGROUP] MID_UNITS_DIV 46
[STATE] MID_UNITS_DIV 1
[ADDITEM] MID_UNITS_BRIG C_TYPE_RADIO TXT_BRIGADES MID_LEG_UNIT
[RADIOGROUP] MID_UNITS_BRIG 46
[ADDITEM] MID_UNITS_BAT C_TYPE_RADIO TXT_BATTALIONS MID_LEG_UNIT
[RADIOGROUP] MID_UNITS_BAT 46
[ADDITEM] MID_SEP_3 C_TYPE_NOTHING TXT_SPACE MID_LEG_UNIT
[ADDITEM] MID_UNITS_COMBAT C_TYPE_TOGGLE TXT_COMBAT MID_LEG_UNIT
[ADDITEM] MID_UNITS_AD C_TYPE_TOGGLE TXT_AIRDEFENSE MID_LEG_UNIT
[ADDITEM] MID_UNITS_ARTILLERY C_TYPE_TOGGLE TXT_ARTILLERY MID_LEG_UNIT
[ADDITEM] MID_UNITS_SUPPORT C_TYPE_TOGGLE TXT_SUPPORT MID_LEG_UNIT

[ADDITEM] MID_UNITS_SQUAD_SQUADRON C_TYPE_TOGGLE TXT_SQUADRON MID_LEG_AIR
[ADDITEM] MID_UNITS_SQUAD_FIGHTER C_TYPE_TOGGLE TXT_FIGTHER MID_LEG_AIR
#[ADDITEM] MID_UNITS_SQUAD_FIGHTBOMB C_TYPE_TOGGLE TXT_FGTRBMBR MID_LEG_AIR
[ADDITEM] MID_UNITS_SQUAD_ATTACK C_TYPE_TOGGLE TXT_ATTACK MID_LEG_AIR
[ADDITEM] MID_UNITS_SQUAD_BOMBER C_TYPE_TOGGLE TXT_BOMBER MID_LEG_AIR
[ADDITEM] MID_UNITS_SQUAD_SUPPORT C_TYPE_TOGGLE TXT_SUPPORT MID_LEG_AIR
[ADDITEM] MID_UNITS_SQUAD_HELI C_TYPE_TOGGLE TXT_HELICOPTER MID_LEG_AIR
[ADDITEM] MID_UNITS_SQUAD_UNKNOWN C_TYPE_TOGGLE TXT_UNKNOWN MID_LEG_AIR

[ADDITEM] MID_UNITS_NAVY_COMBAT C_TYPE_TOGGLE TXT_COMBAT MID_LEG_NAVY
[ADDITEM] MID_UNITS_NAVY_SUPPLY C_TYPE_TOGGLE TXT_SUPPLY MID_LEG_NAVY

[ADDITEM] MID_OFF C_TYPE_RADIO TXT_NONE MID_LEG_CIRCLES
[RADIOGROUP] MID_OFF 3
[STATE] MID_OFF 1
[ADDITEM] MID_CIRCLE_SAM_LOW C_TYPE_RADIO TXT_SAM_LOW MID_LEG_CIRCLES
[RADIOGROUP] MID_CIRCLE_SAM_LOW 3
[ADDITEM] MID_CIRCLE_SAM_HIGH C_TYPE_RADIO TXT_SAM_HIGH MID_LEG_CIRCLES
[RADIOGROUP] MID_CIRCLE_SAM_HIGH 3
[ADDITEM] MID_CIRCLE_RADAR_LOW C_TYPE_RADIO TXT_RADAR_LOW MID_LEG_CIRCLES
[RADIOGROUP] MID_CIRCLE_RADAR_LOW 3
[ADDITEM] MID_CIRCLE_RADAR_HIGH C_TYPE_RADIO TXT_RADAR_HIGH MID_LEG_CIRCLES
[RADIOGROUP] MID_CIRCLE_RADAR_HIGH 3
